:root {
    --main-header-color : #1f2937;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    color: red;
  
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    align-items: center;
    padding: 0 15%;
    background-color: var(--main-header-color);
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
 
 

}

.logo {
    flex-shrink: 0;
}

.logo img {
    width: 100px;
    height: auto;
}

.header li {
    display: inline-block;
    color: #e5e7eb;
    font-size: 18px;
    flex-shrink: 0;
}

.header div {
   
}

.header .links {
    display: inline-block;
   
   margin-left: auto;

}

.header ul {
    padding: 0;
}

.title-section {
    border: 2px solid red;
    width: 100%;
    height: 40vh;
    background-color: var(--main-header-color);
    display: flex;
    flex-flow: row;
   column-gap: 10%;
    
}

.title-text {
    margin-left: 15vw;
    border: 2px solid green;
}

.title-img {
    border: 2px solid green;
    margin-left: 10%;
}